.dataGrid, .dataGrid td{
  padding: 5px;
  border: 1px solid black;
}

.dataGrid th {
    font-size: 12px;
    color: #fff;
    line-height: 1.4;
    text-transform: uppercase;
    background-color:#90afc5;

    padding-top: 24px;
    padding-bottom: 20px;
}


.dataGrid.column{
  width: 265px;
  padding-left: 42px;
}

.altRow{
  background-color: #e8eff3;
}
